.command {
  background-color: #f5f4fa;
}

.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.command-list {
  display: flex;
}

.command-list__item {
  min-width: 270px;
  margin-right: 30px;
  display: block;
  background-color: var(--main-title-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command-list__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);

  padding-bottom: 10px;
  text-align: center;
}

.command-list__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  text-align: center;
  margin-bottom: 16px;
}

.command-card__list {
  display: flex;
  justify-content: center;
}

.command-card__item {
  width: 44px;
  height: 44px;
}

.command-card__item + .command-card__item {
  margin-left: 10px;
}

.command-card__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: var(--main-title-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--main-title-color);
  }
}

.command-card__icon {
  fill: currentColor;
}
