.footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.footer__span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer__list {
  margin-top: 20px;
}
.footer__item {
  margin-bottom: 9px;
}

.connect-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-left: 70px;
}

.connect-title__list {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-top: 20px;
}

.connect-item {
  width: 44px;
  height: 44px;
  color: var(--main-title-color);
}

.connect-item + .connect-item {
  margin-left: 10px;
}

.connect-item__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-title-color);
  background: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--main-title-color);
  }
}

.connect-item__icon {
  fill: #ffffff;
}

.subscribe-form {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  margin-left: 93px;

  color: var(--main-title-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__form {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.subscribe__input {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  top: 50%;
  padding-left: 16px;
  &:hover {
    cursor: pointer;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.3);
  }
}
