.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);

  margin-right: 70px;
  &:focus {
    color: var(--accent-color);
  }
}

.span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-connect {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-connect__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-connect__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.header-connect__btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-btn-color);

  padding-top: 32px;
  padding-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-connect__tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-btn-color);
  padding-top: 32px;
  padding-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
