.header-list__link--current::after {
  content: " ";
  position: absolute;
  display: block;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0px;
}

.header-connect {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}
