.skill-list__link {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  border: 1px solid #f5f4fa;
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-btn-color);
  background-color: #f5f4fa;
}
