p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.centered {
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
