.subscribe__button {
  display: flex;
  align-items: center;

  color: var(--main-title-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  padding: 10px 28px;

  margin-left: 12px;
}

.button__icon {
  fill: #fff;
}
