:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --header-list-color: #212121;
  --header-link-color: #212121;
  --footer-link-color: #2196f3;
  --accent-color: #2196f3;
  --main-btn-color: #757575;
  --logo-color: #2196f3;
}
